@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
	--color-background: oklch(18% 0.005 195);
	--color-foreground: var(--color-stone-50);
	--color-border: var(--color-stone-400);
	--color-ring: var(--color-indigo-400);
	--color-primary: var(--color-stone-50);
	--color-primary-foreground: var(--color-stone-950);
	--color-secondary: var(--color-stone-700);
	--color-secondary-foreground: var(--color-stone-50);
	--color-info: var(--color-sky-600);
	--color-info-foreground: var(--color-stone-50);
	--color-success: var(--color-emerald-600);
	--color-success-foreground: var(--color-stone-50);
	--color-warning: var(--color-yellow-600);
	--color-warning-foreground: var(--color-stone-50);
	--color-error: var(--color-rose-600);
	--color-error-foreground: var(--color-stone-50);
	--color-muted: var(--color-stone-700);
	--color-muted-foreground: var(--color-stone-400);

	--radius-lg: 0.5rem;
	--radius-md: calc(0.5rem - 2px);
	--radius-sm: calc(0.5rem - 4px);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-border ring-ring ring-offset-background;
	}

	body {
		@apply bg-background text-foreground antialiased;
	}

	svg {
		@apply shrink-0;
	}

	hr {
		@apply my-4 border;
	}

	h1,
	.h1 {
		@apply text-4xl font-bold tracking-normal;
	}

	h2,
	.h2 {
		@apply text-3xl font-bold;
	}

	h3,
	.h3 {
		@apply text-2xl font-semibold;
	}

	form {
		@apply space-y-4;

		fieldset {
			@apply space-y-1.5;

			legend {
				@apply bg-background -ml-2 block px-2 font-semibold;
			}

			label {
				@apply block font-semibold;

				&:nth-of-type(2) {
					@apply text-error text-sm;
				}

				& > span {
					&:nth-child(2) {
						@apply text-muted-foreground block text-sm;
					}
				}
			}
		}
	}

	a,
	button,
	.button,
	select,
	input,
	.input,
	textarea,
	[tabindex] {
		@apply focus-visible:ring-ring transition focus-visible:ring focus-visible:ring-offset-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50;
	}

	a,
	button,
	.button,
	select,
	input[type="checkbox"],
	input[type="radio"],
	input[type="file"],
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	input[type="image"],
	input[type="color"],
	input[type="date"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	[tabindex] {
		@apply cursor-pointer;
	}

	input:not(.default),
	select:not(.default),
	textarea:not(.default),
	.input {
		@apply border-primary/20 flex w-full cursor-text rounded-lg border bg-transparent px-3 py-2 text-base font-medium shadow-sm transition focus-visible:border-transparent;

		&::placeholder {
			@apply text-muted-foreground;
		}
	}

	input {
		position: relative;

		&::-webkit-calendar-picker-indicator {
			filter: invert();
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&[type="time"] {
			@apply text-muted-foreground;
			&::-webkit-calendar-picker-indicator {
				right: 0.9rem;
			}
		}

		&[type="date"] {
			@apply text-muted-foreground;
			&::-webkit-calendar-picker-indicator {
				right: 1rem;
			}
		}
	}
}

@layer components {
	.callout {
		@apply border-error rounded-lg border-2 px-6 py-3;

		p {
			@apply text-lg font-semibold;
		}
	}

	button:not(.default),
	.button {
		@apply disabled:bg-muted/50 disabled:text-muted-foreground inline-flex h-max shrink-0 cursor-pointer items-center justify-center border font-semibold tracking-wide transition disabled:cursor-not-allowed disabled:border-transparent;

		&.solid {
			@apply border-background bg-background text-foreground hover:bg-background/90 active:bg-background/80;
		}

		&.ghost {
			@apply text-foreground hover:bg-muted/10 active:bg-muted/5 border-transparent bg-transparent;
		}

		&.primary {
			@apply border-primary bg-primary text-primary-foreground hover:bg-primary/90 active:bg-primary/80;
		}

		&.secondary {
			@apply border-secondary bg-secondary text-secondary-foreground hover:bg-secondary/90 active:bg-secondary/80;
		}

		&.info {
			@apply border-info bg-info text-info-foreground hover:bg-info/90 active:bg-info/80;
		}

		&.success {
			@apply border-success bg-success text-success-foreground hover:bg-success/90 active:bg-success/80;
		}

		&.warning {
			@apply border-warning bg-warning text-warning-foreground hover:bg-warning/90 active:bg-warning/80;
		}

		&.error {
			@apply border-error bg-error text-error-foreground hover:bg-error/90 active:bg-error/80;
		}

		&:not(.primary):not(.secondary):not(.info):not(.success):not(.warning):not(.error):not(
				.solid
			):not(.ghost) {
			@apply text-foreground hover:bg-muted/10 active:bg-muted/5 border-primary/20 bg-transparent;
		}

		&.sm {
			@apply gap-1.5 rounded-md px-3 py-1.5 text-sm;
		}

		&.icon {
			@apply aspect-square h-9 w-9 rounded-md;
		}

		&.icon-sm {
			@apply aspect-square size-6 rounded-sm text-sm;
		}

		&.lg {
			@apply gap-3 rounded-md px-6 py-2 text-base;
		}

		&.circle {
			@apply aspect-square h-9 w-9 rounded-full;
		}

		&.circle-sm {
			@apply aspect-square size-6 rounded-full text-sm;
		}

		&:not(.lg):not(.sm):not(.icon):not(.icon-sm):not(.circle):not(.circle-sm) {
			@apply gap-2 rounded-lg px-4 py-2;
		}

		svg {
			@apply pointer-events-none size-4 shrink-0;
		}
	}
}

@utility stack {
	display: grid;
	grid-template-areas: "stack";
}

@utility stack-item {
	grid-area: stack;
}

@utility card {
	@apply flex flex-col gap-2 rounded-xl border p-6;
	& > h3 {
		@apply text-2xl font-semibold;
	}
	& > p {
		@apply text-muted-foreground pb-4 font-medium;
	}
}

@utility absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@utility translate-center {
	transform: translate(-50%, -50%);
}

@utility radio-group {
	@apply border-muted rounded-lg border-2 bg-transparent px-3 py-2 text-base font-medium shadow-sm;

	label {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		input[type="radio"] {
			background-color: transparent;
			accent-color: var(--color-primary);
			width: 1.2rem;
			height: 1.2rem;
			margin: 0;
		}
	}
}

@keyframes disco-animation {
	0% {
		scale: 1;
		background-color: aliceblue;
	}
	25% {
		scale: 1.2;
		background-color: beige;
	}
	50% {
		scale: 1.1;
		background-color: azure;
	}
	75% {
		scale: 1.2;
		background-color: aquamarine;
	}
	100% {
		scale: 1;
		background-color: bisque;
	}
}

@utility disco-animation {
	animation: disco-animation 0.7s linear infinite;
}
