@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    /* --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%; */

    --popover: 0 0% 96.1%;
    --popover-foreground: 0 0% 9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --success: 120 100% 30%;
    --success-foreground: 60 9.1% 97.8%;

    --action: 36 100% 50%;
    --action-foreground: 0 0% 3.9%;

    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --xs-percent: 0.9;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    /* --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%; */

    --popover: 0 0% 14.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --success: 120 100% 30%;
    --success-foreground: 60 9.1% 97.8%;

    --action: 36 100% 50%;
    --action-foreground: 0 0% 3.9%;

    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.grainy {
  background: url(https://grainy-gradients.vercel.app/noise.svg);
}

button[data-state="checked"] .custom-checked {
  text-decoration: line-through;
}

.prose-xs {
  font-size: calc(0.875rem * var(--xs-percent)) /* 14px */;
  line-height: calc(1.7142857 * var(--xs-percent));
}
.prose-xs :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
  margin-bottom: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where([class~="lead"]):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(1.2857143em * var(--xs-percent));
  line-height: calc(1.5555556 * var(--xs-percent));
  margin-top: calc(0.8888889em * var(--xs-percent));
  margin-bottom: calc(0.8888889em * var(--xs-percent));
}
.prose-xs :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.3333333em * var(--xs-percent));
  margin-bottom: calc(1.3333333em * var(--xs-percent));
  padding-left: calc(1.1111111em * var(--xs-percent));
}
.prose-xs :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(2.1428571em * var(--xs-percent));
  margin-top: 0;
  margin-bottom: calc(0.8em * var(--xs-percent));
  line-height: calc(1.2 * var(--xs-percent));
}
.prose-xs :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(1.4285714em * var(--xs-percent));
  margin-top: calc(1.6em * var(--xs-percent));
  margin-bottom: calc(0.8em * var(--xs-percent));
  line-height: calc(1.4 * var(--xs-percent));
}
.prose-xs :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(1.2857143em * var(--xs-percent));
  margin-top: calc(1.5555556em * var(--xs-percent));
  margin-bottom: calc(0.4444444em * var(--xs-percent));
  line-height: calc(1.5555556 * var(--xs-percent));
}
.prose-xs :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.4285714em * var(--xs-percent));
  margin-bottom: calc(1.5714286em * var(--xs-percent));
  line-height: calc(1.4285714 * var(--xs-percent));
}
.prose-xs :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.7142857em * var(--xs-percent));
  margin-bottom: calc(1.7142857em * var(--xs-percent));
}
.prose-xs :where(picture):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.7142857em * var(--xs-percent));
  margin-bottom: calc(1.7142857em * var(--xs-percent));
}
.prose-xs :where(picture > img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}
.prose-xs :where(video):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.7142857em * var(--xs-percent));
  margin-bottom: calc(1.7142857em * var(--xs-percent));
}
.prose-xs :where(kbd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(0.8571429em * var(--xs-percent));
  border-radius: calc(0.3125rem * var(--xs-percent)) /* 5px */;
  padding-top: calc(0.1428571em * var(--xs-percent));
  padding-right: calc(0.3571429em * var(--xs-percent));
  padding-bottom: calc(0.1428571em * var(--xs-percent));
  padding-left: calc(0.3571429em * var(--xs-percent));
}
.prose-xs :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(0.8571429em * var(--xs-percent));
}
.prose-xs :where(h2 code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(0.9em * var(--xs-percent));
}
.prose-xs :where(h3 code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(0.8888889em * var(--xs-percent));
}
.prose-xs :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(0.8571429em * var(--xs-percent));
  line-height: calc(1.6666667 * var(--xs-percent));
  margin-top: calc(1.6666667em * var(--xs-percent));
  margin-bottom: calc(1.6666667em * var(--xs-percent));
  border-radius: calc(0.25rem * var(--xs-percent)) /* 4px */;
  padding-top: calc(0.6666667em * var(--xs-percent));
  padding-right: calc(1em * var(--xs-percent));
  padding-bottom: calc(0.6666667em * var(--xs-percent));
  padding-left: calc(1em * var(--xs-percent));
}
.prose-xs :where(ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
  margin-bottom: calc(1.1428571em * var(--xs-percent));
  padding-left: calc(1.5714286em * var(--xs-percent));
}
.prose-xs :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
  margin-bottom: calc(1.1428571em * var(--xs-percent));
  padding-left: calc(1.5714286em * var(--xs-percent));
}
.prose-xs :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(0.2857143em * var(--xs-percent));
  margin-bottom: calc(0.2857143em * var(--xs-percent));
}
.prose-xs :where(ol > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-left: calc(0.4285714em * var(--xs-percent));
}
.prose-xs :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-left: calc(0.4285714em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ul > li p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.5714286em * var(--xs-percent));
  margin-bottom: calc(1.5714286em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ul > li p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.5714286em * var(--xs-percent));
  margin-bottom: calc(1.5714286em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ul > li > *:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ul > li > *:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ul > li > *:last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ul > li > *:last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ol > li > *:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ol > li > *:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ol > li > *:last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > ol > li > *:last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.5714286em * var(--xs-percent));
  margin-bottom: calc(1.5714286em * var(--xs-percent));
}
.prose-xs :where(dl):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
  margin-bottom: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(dt):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.1428571em * var(--xs-percent));
}
.prose-xs :where(dd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(0.2857143em * var(--xs-percent));
  padding-left: calc(1.5714286em * var(--xs-percent));
}
.prose-xs :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(2.8571429em * var(--xs-percent));
  margin-bottom: calc(2.8571429em * var(--xs-percent));
}
.prose-xs :where(hr + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}
.prose-xs :where(h2 + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}
.prose-xs :where(h3 + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}
.prose-xs :where(h4 + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}
.prose-xs :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(0.8571429em * var(--xs-percent));
  line-height: calc(1.5 * var(--xs-percent));
}
.prose-xs :where(thead th):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-right: calc(1em * var(--xs-percent));
  padding-bottom: calc(0.6666667em * var(--xs-percent));
  padding-left: calc(1em * var(--xs-percent));
}
.prose-xs :where(thead th:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-left: 0;
}
.prose-xs :where(thead th:last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-right: 0;
}
.prose-xs :where(tbody td, tfoot td):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-top: calc(0.6666667em * var(--xs-percent));
  padding-right: calc(1em * var(--xs-percent));
  padding-bottom: calc(0.6666667em * var(--xs-percent));
  padding-left: calc(1em * var(--xs-percent));
}
.prose-xs :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-left: 0;
}
.prose-xs :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-right: 0;
}
.prose-xs :where(figure):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: calc(1.7142857em * var(--xs-percent));
  margin-bottom: calc(1.7142857em * var(--xs-percent));
}
.prose-xs :where(figure > *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}
.prose-xs :where(figcaption):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: calc(0.8571429em * var(--xs-percent));
  line-height: calc(1.3333333 * var(--xs-percent));
  margin-top: calc(0.6666667em * var(--xs-percent));
}
.prose-xs :where(.prose-xs > :first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}
.prose-xs :where(.prose-xs > :first-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}
.prose-xs :where(.prose-xs > :last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: 0;
}
.prose-xs :where(.prose-xs > :last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: 0;
}
